*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfvars
*.auto.tfvars
environments/*/terraform.tfvars
.aws/
*.pem
*.key
*.sarif
*.plan
tfplan
.DS_Store
.idea/
.vscode/
__pycache__/
*.pyc
.venv/
/tmp/*.zip
crash.log
